<h1>Chef: <%= @chef.name %>

<% @chef.dishes.each do |dish| %>
  <ul>
    <li><%= dish.name %></li>
  </ul>
<% end %>

<%= form_with model: @dish, method: :patch, local: true do |form| %>
  <%= form.label :dish_id %>
  <%= form.text_field :dish_id %>
  <%= form.submit 'Add Dish' %>
<% end %>

<%= link_to "Used Ingredients", chef_ingredients_path(@chef) %>
