<h1>Dish: <%= @dish.name %>
<h1>Description: <%= @dish.description %>

<h2>Chef: <%= @dish.chef.name %></h2>
<ul>
  <li>
    <% @dish.ingredients.each do |ingredient| %>
      <p>Ingredient: <%= ingredient.name %></p>
    <% end %>
  </li>
</ul>
<p>Calories: <%= @dish.total_calories %></p>
